body {
    background: linear-gradient(to bottom, #7611b1 0%, #8f3a64fb 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
  }

  #results {
    color: black;
    text-align: left;
    margin-top: 10px;
   
  }
  .result {
    background-color: white;
    padding: 1rem;
    border: 4px solid #ccc;
    border-radius: 4px;
    box-shadow: 10px 10px 5px rgba(0,0,0,1);
    padding: 10px;
    width: 100%
  }

  .result:hover {
    color: #4deb4d; 
  }
    
  header h1 {
    font-family: Cursive, sans-serif;
    color: #78e4f7;;
    font-size: 60px;
    padding-left: 4px;
    margin-top: 10px;
  }


  #search-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 180px 0;
    position: relative; 
    top: -90px;
  }
  
  #search-text {
    font-family: Cursive, sans-serif;
    font-size: 20px;
    color: #79e1f3;;
    margin-bottom: 20px;
    position: relative; 
    top: -10px;
    margin-left: 10px
  }
  
  form {
    display: inline-block;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 14px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
  }
  
  button {
    width: 30%;
    background-color: #107385;
    color: rgb(197, 208, 209);
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button[type="submit"] i {
    font-size: 18px;
    margin-right: 5px;
  }
  